<md-card class="leaderboard">
  <dfp-ad force-safe-frame
            collapse-if-empty
            ad-unit="/35096353/pub-showcase">
      <dfp-size width="728" height="90"></dfp-size>
      <dfp-targeting key="sport" value="football"></dfp-targeting>
      <dfp-targeting key="food">
        <dfp-value>chicken</dfp-value>
        <dfp-value>meatballs</dfp-value>
        <dfp-value>ice cream</dfp-value>
      </dfp-targeting>
      <dfp-responsive viewport-width="320" viewport-height="0">
        <dfp-size width=320 height=50></dfp-size>
      </dfp-responsive> -->
      <dfp-responsive viewport-width="768" viewport-height="0">
        <dfp-size width=728 height=90></dfp-size>
      </dfp-responsive>
      <dfp-responsive viewport-width="1024" viewport-height="0">
        <dfp-size width=970 height=90></dfp-size>
      </dfp-responsive>
    </dfp-ad>
</md-card>
